<div class="container mb-5">

    <h1 class="custom1">List of inProgress tasks</h1>
    <button *ngIf="inprogress.length>0" routerLink="" class="btn btn-outline-primary mb-4">Home</button>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center customlisttitle">
            <div class="col">
                <h5 class="mb-0">Title</h5>
            </div>
            <div class="col">
                <h5 class="mb-0">Priority</h5>
            </div>
            <div class="col">
                <h5 class="mb-0">Status</h5>
            </div>
            <div class="col">
                <h5 class="mb-0">Delete</h5>
            </div>
            <div class="col">
                <h5 class="mb-0">Update</h5>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let data of inprogress  let i = index">
            <div class="d-flex justify-content-between align-items-center" >

                <div class="col">
                    <h5 class="mb-0 customheading">{{data.title}}</h5>
                </div>
                <div class="col">
                    <p class="mb-0 badge text-bg-{{getPriorityColor(data.priority)}}">
                        <span>{{data.priority}}</span>
                    </p>
                </div>
                <div class="col">
                    <span class="badge text-bg-warning">{{data.status}}</span>
                </div>
                <div class="col">
                    <button (click)="deleteTodo(i)" class="btn btn-outline-danger">remove</button>
                </div>

                <div class="col">
                    <button (click)="updateStatus(i,'completed')" class="btn btn-outline-info">completed</button>
                </div>

            </div>


        </li>
    </ul>
    

        <div class="customaddTodo" *ngIf="inprogress.length<=0">
            <h1> No list found</h1>
            <button routerLink="" class="btn btn-success"> Home</button>
        </div>



</div>